# Build artifacts
bin/
obj/
artifacts/

# .NET Core specific files
project.lock.json
project.fragment.lock.json

# NuGet packages
*.nupkg
packages/
.nuget/

# Visual Studio temporary files and settings
.vs/
*.user
*.suo

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

appsettings.json
ByteLink.API/appsettings.Development.json
ByteLink.MigrateCommand/appsettings.Development.json
ByteLink.API/Properties/launchSettings.json
